.link{
    text-decoration: none;
    color: whitesmoke;
}
.link-drop{
    text-decoration: none;
    color: black;
}
.link-login{
    text-decoration: none;
    color: whitesmoke;
   
 
}
.login-div{
    margin-left: 1000px;
    display: flex;
    gap: 12px;
    
}
.nav{
    z-index: 20;
}
